@using App.Data.Models
@model IEnumerable<App.Web.ViewModels.Shopkeeper.DiscountViewModel>
@{
    this.ViewData["Title"] = "All Discounts";
}

<div class="m-4 light-background">
    <div class="p-4">
        <h1>@this.ViewData["Title"]</h1>
        <table class="table table-bordered text-center mt-4">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">%</th>
                    <th scope="col">Valid from</th>
                    <th scope="col">Valid until</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var discount in this.Model)
                {
                    <tr>
                        <td>@discount.Id</td>
                        <td>@discount.DiscountSize</td>
                        <td>@discount.StartDate</td>
                        <td>@discount.EndDate</td>
                        <td>@discount.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
